    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Rock, Paper, Scissors</h1>
        
        <!-- Display the image if the user has made a choice -->
        {% if image_url %}+
        <div class="image-choice">
            <img src="{% static 'images/' %}{{ image_url}}" alt="{{ user_choice }} image" width="100">
        </div>
        {% endif %}
        
        <div class="choices">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="choice" value="rock">
                    Rock
                </button>
                <button type="submit" name="choice" value="paper">
                    Paper
                </button>
                <button type="submit" name="choice" value="scissors">
                    Scissors
                </button>
            </form>
        
        {% if user_choice %}
        <div class="result">
            <p>Your choice: <strong>{{ user_choice }}</strong></p>
            <p>Computer's choice: <strong>{{ computer_choice }}</strong></p>
            <p><strong>{{ result }}</strong></p>
        </div>
        {% endif %}
    </div>
</body>
</html>
